.profile__button-edit {
        margin-top: 0;
        height: 18px;
        width: 18px;
        background-size: 7.5px 7.5px;
        align-self: center;

    }d #ffff;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
    align-self: center;

}