.popup__content {
    width: 430px;
    background-color: #ffff;
    border-radius: 10px;
    padding-top: 34px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: center;
    z-index: 2;
    opacity: 100%;

}

@media screen and (max-width: 767px) {
    .popup__content {
        width: 282px;
        padding-top: 25px;
    }
}